doctype xml

mixin incoming(type, opt)
	incomingServer(type=type)
		hostname= opt.hostname
		port= opt.port
		socketType= opt.socketType
		authentication= opt.authentication
		username= attributes.username

mixin outgoing(opt)
	ougoingServer(type='smtp')
		hostname= opt.hostname
		port= opt.port
		socketType= opt.socketType
		authentication= opt.authentication
		username= attributes.username

clientConfig
	emailProvider(id=emailProviderId)
		domain= domain
		displayName= displayName
		displayShortName= displayShortName

		if imaps && !imaps.disabled
			+incoming('imap', imaps)(username=username)
		if imap && !imap.disabled
			+incoming('imap', imap)(username=username)
		if pop3s && !pop3s.disabled
			+incoming('pop3', pop3s)(username=username)
		if pop3 && !pop3.disabled
			+incoming('pop3', pop3)(username=username)

		if smtps && !smtps.disabled
			+outgoing(smtps)(username=username)
		if smtp && !smtp.disabled
			+outgoing(smtp)(username=username)
